*{
    margin: 0px;
    padding: 0px;
}
.inter-font{
    font-family: "Inter";
    font-optical-sizing: auto;
}

.container{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}




header nav .nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.btn{
    background-color: #469165;
    color: white;
    font-weight: 600;
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
}

header .banner{
    background-image: url('/images/hero-bg.png');
    height: 647px;
    text-align: center;
    display: flex;
    align-items: center;
}

header .banner .banner-content{
    text-align: center;
}

header .banner .banner-content #early-access{
    color: #469165;
    margin-bottom: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
}

header .banner .banner-content .banner-title h1{
        font-size: 72px;
        line-height: 84px;
        font-weight: bold;
        color: #469165;
        margin-bottom: 16px;
}

header .banner .banner-content .banner-title p{
        line-height: 24px;
        color: white;
        margin-bottom: 32px;
}

header .banner .banner-content .btn-secondary{
    color: white;
    font-weight: 600;
    padding: 13px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 16px;
}