*{
    margin: 0px;
    padding: 0px;
}
.inter-font{
    font-family: "Inter";
    font-optical-sizing: auto;
}

.container{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}




header nav .nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.btn{
    background-color: #469165;
    color: white;
    font-weight: 600;
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
}

header .banner{
    background-image: url('/images/hero-bg.png');
    height: 647px;
    text-align: center;
    display: flex;
    align-items: center;
}

header .banner .banner-content{
    text-align: center;
}

header .banner .banner-content #early-access{
    color: #469165;
    margin-bottom: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
}

header .banner .banner-content .banner-title h1{
        font-size: 72px;
        line-height: 84px;
        font-weight: bold;
        color: #469165;
        margin-bottom: 16px;
}

header .banner .banner-content .banner-title p{
        line-height: 24px;
        color: white;
        margin-bottom: 32px;
}

header .banner .banner-content .btn-secondary{
    color: white;
    font-weight: 600;
    padding: 13px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 16px;
}

/* Notes Section */

.notes .notes-container{
    padding-top: 32px;
    text-align: center;
}

.notes .notes-container .notes-title h1{
    font-size: 48px;
    font-weight: bold;
}
.notes .notes-container p{
    font-size: 16px;
    color: #627382;    
    margin-top: 16px;
}

.notes .notes-container .card-container{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.notes .notes-container .card-container .card{
   
    padding: 22px 24px;
    box-shadow: 0 6px 50px 0 #0000003a;
}

.notes .notes-container .card-container .card h4{
    font-size: 24px;
    
}

.notes .notes-container .card-container .card .circle{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto 14px;
    display: flex;
    align-items: center;
}

.notes .notes-container .card-container .card img{
    margin: 0 auto;
}
/* brain */
.brain-container{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    gap: 60px;
}

.brain-container .brain-content h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.brain-container .brain-content p{
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}
.brain-container .brain-content ul{
    list-style: none;
}
.brain-container .brain-content ul li{
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
}